{% extends 'base.html.twig' %}

{% block title %}Ajouter votre question{% endblock %}

{% block content %}
    <h1>Ajouter votre question !</h1>

    {# Affiche le formulaire #}
    {{ form_start(questionForm, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(questionForm) }}
    <button class="btn btn-success">Envoyer !</button>
    {{ form_end(questionForm) }}
{% endblock %}